{% extends 'base.html'%} {% import "bootstrap/wtf.html" as wtf %} {% block content %}
<div class="container">
    <div class="row">


        {% for comment in comments %}

        <p>{{ comment.user }}</p>
        <p> By: {{comment.comment}}</p>

        {% endfor %}
        <div class="col-md-6">
            <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Add blog</a>

            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>


        </div>


    </div>
</div>

{% endblock %}