{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}



{% block content %}
<div class="container">
    <div class="row">


            {% for comment in comments %}
              
            <p>{{ comment.user }}</p> 
            <p> By: {{comment.comment}}</p>

              {% endfor %}
    <a class="btn btn-primary btn-lg" data-toggle="collapse" href="#comments" role="button" aria-expanded="false" aria-controls="collapseExample">comment</a>
<div id="comments">
        <div class="col-md-8" >
            {{ wtf.quick_form(form) }}
        </div>
    </div>
     
               
    </div>
</div>

{% endblock %}