<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8"> {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> PITCH ALONG </title>
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chewy" rel="stylesheet">
</head>
{% extends 'base.html'%} {% import 'macros.html' as macro%}

<body >
    <div class="container">
            
    {% block content %}
    <div class="panel panel-primary panel-heading"> 
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
  <p> Error porro cumque quaerat vel corrupti? Exercitationem, error? Animi, voluptas quod quam neque ipsum aliquam pariatur! Harum assumenda voluptatum eligendi error cumque.</p>
  </div>
    <div class="container" style="background-color: rgb(235, 230, 160);">
        <ul><li>
      <a href="/comment">Blog comments</a> 
     </li>
     <li>
     <h1> <a href="/blog">BLOGS</a></h1>
    </li>
</ul>
      
      



       
    </div>

    {% endblock%}
</div>
</body>

</html>